Python for Data & Analytics - 2nd Edition<br>
Chapter 10, section 5

*** requires datafiles: aqi.txt, SP500_Constituents.csv

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 6)
dfAQI = pd.read_csv('aqi.txt', index_col='color')
dfsp = pd.read_csv('SP500_Constituents.csv', index_col='Symbol')

In [2]:
dfAQI.sort_values('low', ascending=False)

                               concern  low  high
color
Maroon                       Hazardous  301   999
Purple                  Very Unhealthy  201   300
Red                          Unhealthy  151   200
Orange  Unhealthy for Sensitive Groups  101   150
Yellow                        Moderate   51   100
Green                             Good    0    50

In [3]:
dfAQI[dfAQI.high <= 100]

         concern  low  high
color
Green       Good    0    50
Yellow  Moderate   51   100

In [4]:
dfAQI.high <= 100

color
Green      True
Yellow     True
Orange    False
Red       False
Purple    False
Maroon    False
Name: high, dtype: bool

In [5]:
level = 75
dfAQI[(dfAQI.low <= level) & (level <= dfAQI.high)]

         concern  low  high
color
Yellow  Moderate   51   100

In [6]:
dfAQI[(dfAQI.concern == 'Good') | (dfAQI.concern == 'Moderate')]

         concern  low  high
color
Green       Good    0    50
Yellow  Moderate   51   100

In [7]:
dfsp[dfsp['GICS Sector']=='Information Technology'][['Security', 'Founded']]

                          Security Founded
Symbol
ACN                  Accenture plc    1989
ADBE                    Adobe Inc.    1982
AMD     Advanced Micro Devices Inc    1969
...                            ...     ...
XRX                          Xerox    1906
XLNX                        Xilinx    1984
ZBRA            Zebra Technologies    1969

[73 rows x 2 columns]

In [8]:
dfAQI[:3]

                               concern  low  high
color
Green                             Good    0    50
Yellow                        Moderate   51   100
Orange  Unhealthy for Sensitive Groups  101   150

In [9]:
dfAQI[-1:-3:-1]

               concern  low  high
color
Maroon       Hazardous  301   999
Purple  Very Unhealthy  201   300

In [10]:
for color, row in dfAQI.iterrows():
   print(color+':', row.concern)

Green: Good
Yellow: Moderate
Orange: Unhealthy for Sensitive Groups
Red: Unhealthy
Purple: Very Unhealthy
Maroon: Hazardous

Code from: Python for Data & Analytics, (c) 2025 Rose River Software, LLC