Python for Data & Analytics - 2nd Edition<br>
Chapter 10, section 8

*** requires datafiles: aqi.txt, aqidays.txt, aqidays2.txt

In [1]:
import pandas as pd
dfAQI = pd.read_csv('aqi.txt', index_col='color')
dfAQI

                               concern  low  high
color
Green                             Good    0    50
Yellow                        Moderate   51   100
Orange  Unhealthy for Sensitive Groups  101   150
Red                          Unhealthy  151   200
Purple                  Very Unhealthy  201   300
Maroon                       Hazardous  301   999

In [2]:
dfAQIdays = pd.read_csv('aqidays.txt', index_col='color')
dfAQIdays

        days
color
Green    320
Yellow    30
Orange    15
Red        0
Purple     0
Maroon     0

In [3]:
dfAQI.join(dfAQIdays)

                               concern  low  high  days
color
Green                             Good    0    50   320
Yellow                        Moderate   51   100    30
Orange  Unhealthy for Sensitive Groups  101   150    15
Red                          Unhealthy  151   200     0
Purple                  Very Unhealthy  201   300     0
Maroon                       Hazardous  301   999     0

In [4]:
dfAQIdays2 = pd.read_csv('aqidays2.txt', index_col='color')
dfAQIdays2

        days
color
Green    320
Yellow    30
Orange    15

In [5]:
dfAQI.join(dfAQIdays2)

                               concern  low  high   days
color
Green                             Good    0    50  320.0
Yellow                        Moderate   51   100   30.0
Orange  Unhealthy for Sensitive Groups  101   150   15.0
Red                          Unhealthy  151   200    NaN
Purple                  Very Unhealthy  201   300    NaN
Maroon                       Hazardous  301   999    NaN

In [6]:
dfAQI.join(dfAQIdays2, how='right')

                               concern  low  high  days
color
Green                             Good    0    50   320
Yellow                        Moderate   51   100    30
Orange  Unhealthy for Sensitive Groups  101   150    15

Code from: Python for Data & Analytics, (c) 2025 Rose River Software, LLC