Python for Data & Analytics - 2nd Edition<br>
Chapter 17, section 1

*** requires datafile: attendance.csv

In [1]:
midterms = [99, 85, 98, 72, 89]

In [2]:
sum(midterms) / len(midterms)

88.6

In [3]:
finals = [88, None, 99, 81, 91]
sum(finals) / len(finals)

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [4]:
import numpy as np
finals = [88, np.nan, 99, 81, 91]

In [5]:
sum(finals) / len(finals)

nan

In [6]:
np.nanmean(finals)

89.75

In [7]:
# create a DataFrame of test scores
import pandas as pd
scores = pd.DataFrame({'midterm': [99, 85, 98, 72, 89],
                       'final':[88, None, 99, 81, 91]},
                        index=['Stefanie', 'Adam', 'Becca', 'John', 'Jane']
)
scores

          midterm  final
Stefanie       99   88.0
Adam           85    NaN
Becca          98   99.0
John           72   81.0
Jane           89   91.0

In [8]:
scores.midterm.mean()

88.6

In [9]:
scores.midterm.median()

89.0

In [10]:
scores.final.mean()

89.75

In [11]:
scores.final.median()

89.5

In [12]:
scores.mean()

midterm    88.60
final      89.75
dtype: float64

In [13]:
scores.median()

midterm    89.0
final      89.5
dtype: float64

In [14]:
scores.mean(axis='columns')

Stefanie    93.5
Adam        85.0
Becca       98.5
John        76.5
Jane        90.0
dtype: float64

In [15]:
scores.final.var(ddof=0)

41.6875

In [16]:
scores.std(axis='rows', ddof=0)

midterm    9.850888
final      6.456586
dtype: float64

In [17]:
attendance = pd.read_csv('attendance.csv', index_col='student')
attendance

        week1 week2 week3 week4
student
Stef        y     y     y     y
Adam        y     y     y     n
Becca       y     y     y     n
John        y     y     n     n
Jane        n     y     y     y

In [18]:
attendance.week1.map({'y':1,'n':0})

student
Stef     1
Adam     1
Becca    1
John     1
Jane     0
Name: week1, dtype: int64

In [19]:
for i in range(1, 5):
   week = 'week' + str(i)
   attendance[week] = attendance[week].map({'y':1,'n':0})
attendance

         week1  week2  week3  week4
student
Stef         1      1      1      1
Adam         1      1      1      0
Becca        1      1      1      0
John         1      1      0      0
Jane         0      1      1      1

In [20]:
attendance.sum(axis='columns') / len(attendance.columns) * 100

student
Stef     100.0
Adam      75.0
Becca     75.0
John      50.0
Jane      75.0
dtype: float64

In [21]:
attendance.sum(axis='rows') / len(attendance) * 100

week1     80.0
week2    100.0
week3     80.0
week4     40.0
dtype: float64

Code from: Python for Data & Analytics, (c) 2025 Rose River Software, LLC